/*@font-face {
    font-family: "Example Font";
    src: url("../fonts/ExampleFont.eot?#iefix");
    src: url("../fonts/ExampleFont.eot?#iefix") format("eot")
    , url("../fonts/ExampleFont.woff") format("woff")
    , url("../fonts/ExampleFont.ttf") format("truetype")
    , url("../fonts/ExampleFont.svg") format("svg"); 
}
*/