@{
    Layout = null;
}


<footer class="PartialFooter">
    <div class="@ViewHelper.GetCssClassViewWrapper() content">
        Fusce cursus aliquam mauris, ac aliquet urna ultricies eu. Nullam quis convallis est, in interdum velit. 
        Quisque et ultrices erat. Ut egestas arcu ipsum, non suscipit justo finibus vel. Sed fringilla ac orci eu 
        eleifend.
    </div>
</footer>