@{ Layout = null; }
<noscript>
    <div class="PartialNoScript">
        <p>This website requires that JavaScript is enabled. Please enable JavaScript in your web browser before continuing.</p>
        <br />
        <p><a href="http://www.enable-javascript.com/" target="_blank">Click Here</a> to learn more about JavaScript and how to enable it.</p>
    </div>
</noscript>