@inject IPathService pathService
@{
    ViewData["Title"] = "Access Denied";
}


<div class="@ViewHelper.GetCssClassViewWrapper()">

    <p>You do not have the necessary permissions to access this page. If necessary, please contact an administrator for assistance.</p>

</div>