@inject IPathService pathService
@{
    ViewData["Title"] = "Invalid Request";
}


<div class="@ViewHelper.GetCssClassViewWrapper()">

    <p>
        You appear to have submitted a page twice, often caused by pressing the back button and trying again.
        To avoid getting these errors, please refresh the form you wish to submit and try again.
        If this error persists please contact promotions@apfco.com for assistance.
    </p>

</div>